

		<!-- BEGIN CONTENT -->

		<main class="content">
			<!-- BEGIN MAIN BLOCK -->
			<div class="main-block load-bg">
				<div class="wrapper">
					<div class="main-block__content">
						<span class="saint-text">Professional</span>
						<h1 class="main-text">Beauty & Care</h1>
						<p>Nourish your skin with toxin-free cosmetic products. With the offers that you can’t refuse.
						</p>
						<a href="#" class="btn">Shop now</a>
					</div>
				</div>
			</div>
			<!-- MAIN BLOCK EOF -->
			<!-- BEGIN TRENDING -->
			<section class="trending">
				<div class="trending-content">
					<div class="trending-top">
						<span class="saint-text">Cosmetics</span>
						<h2>Trending products</h2>
						<p>Nourish your skin with toxin-free cosmetic products. With the offers that you can’t refuse.
						</p>
					</div>
					<div class="tab-wrap trending-tabs">
						<ul class="nav-tab-list tabs">
							<li class="active">
								<a href="#trending-tab_1">Wigs</a>
							</li>
						<!-- 
							<li>
								<a href="#trending-tab_2">SPA</a>
							</li>
							<li>
								<a href="#trending-tab_3">Perfume</a>
							</li>
							<li>
								<a href="#trending-tab_4">Nails</a>
							</li>
							<li>
								<a href="#trending-tab_5">Skin care</a>
							</li>
						-->
							<li>
								<a href="#trending-tab_6">Hair care</a>
							</li>
						</ul>
						<div class="box-tab-cont">
							<div class="tab-cont" id="trending-tab_1">
								<div class="products-items js-products-items">
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__new">new</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost">$200.95</span>
										</div>
									</a>
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
								</div>
							</div>
							<div class="tab-cont hide" id="trending-tab_2">
								<div class="products-items">
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
								</div>
							</div>
							<div class="tab-cont hide" id="trending-tab_3">
								<div class="products-items">
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
								</div>
							</div>
							<div class="tab-cont hide" id="trending-tab_4">
								<div class="products-items">
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
								</div>
							</div>
							<div class="tab-cont hide" id="trending-tab_5">
								<div class="products-items">
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
								</div>
							</div>
							<div class="tab-cont hide" id="trending-tab_6">
								<div class="products-items">
									<a href="#" class="products-item">
										<div class="products-item__type">
											<span class="products-item__sale">sale</span>
										</div>
										<div class="products-item__img">
											<img data-src="https://via.placeholder.com/400x570"
												src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img" alt="">
											<div class="products-item__hover">
												<i class="icon-search"></i>
												<div class="products-item__hover-options">
													<i class="icon-heart"></i>
													<i class="icon-cart"></i>
												</div>
											</div>
										</div>
										<div class="products-item__info">
											<span class="products-item__name">Detox body Cream</span>
											<span class="products-item__cost"><span>$249.95</span> $200.95</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- TRENDING EOF   -->
			<!-- BEGIN LOGOS -->
			<div class="main-logos">
				<img data-src="img/main-logo1.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
					alt="">
				<img data-src="img/main-logo2.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
					alt="">
				<img data-src="img/main-logo3.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
					alt="">
				<img data-src="img/main-logo4.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
					alt="">
				<img data-src="img/main-logo5.svg" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
					alt="">
			</div>
			<!-- LOGOS EOF   -->
			<!-- BEGIN DISCOUNT -->
			<div class="discount js-img" data-src="https://via.placeholder.com/1920x900">
				<div class="wrapper">
					<div class="discount-info">
						<span class="saint-text">Discount</span>
						<span class="main-text">Get Your <span>50%</span> Off</span>
						<p>Nourish your skin with toxin-free cosmetic products. With the offers that you can’t refuse.
						</p>
						<a href="#" class="btn">get now!</a>
					</div>
				</div>
			</div>
			<!-- DISCOUNT EOF   -->
			<!-- BEGIN ADVANTAGES -->
			<div class="advantages">
				<div class="wrapper">
					<div class="advantages-items">
						<div class="advantages-item">
							<div class="advantages-item__icon">
								<i class="icon-natural"></i>
							</div>
							<h4>100&amp; Human Hair</h4>
							<p>Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit adipisicing
								ea aliqua alluptate sit do do.</p>
						</div>
						<div class="advantages-item">
							<div class="advantages-item__icon">
								<i class="icon-quality"></i>
							</div>
							<h4>Quality</h4>
							<p>Non aliqua reprehenderit reprehenderit culpa laboris nulla minim aelit adipisicing ea
								aliqua alluptate sit do do.</p>
						</div>
						<div class="advantages-item">
							<div class="advantages-item__icon">
								<i class="icon-organic"></i>
							</div>
							<h4>organic</h4>
							<p>Non aliqua reprehenderit reprehenderit a laboris nulla minim anim velit adipisicing ea
								aliqua alluptate sit do do.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- ADVANTAGES EOF   -->
			<!-- BEGIN TOP CATEGORIES -->
			<section class="top-categories">
				<div class="top-categories__text">
					<span class="saint-text">Popular collections</span>
					<h2>top categories</h2>
					<p>Nourish your skin with toxin-free cosmetic products. With the offers that you can’t refuse.</p>
				</div>
				<div class="top-categories__items">
					<a href="#" class="top-categories__item">
						<img data-src="https://via.placeholder.com/620x700" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
							class="js-img" alt="">
						<div class="top-categories__item-hover">
							<h5>SPA</h5>
							<span>browse products -</span>
							<i class="icon-arrow-lg"></i>
						</div>
					</a>
					<a href="#" class="top-categories__item">
						<img data-src="https://via.placeholder.com/620x700" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
							class="js-img" alt="">
						<div class="top-categories__item-hover">
							<h5>Nails</h5>
							<span>browse products -</span>
							<i class="icon-arrow-lg"></i>
						</div>
					</a>
					<a href="#" class="top-categories__item">
						<img data-src="https://via.placeholder.com/620x700" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
							class="js-img" alt="">
						<div class="top-categories__item-hover">
							<h5>Perfum</h5>
							<span>browse products -</span>
							<i class="icon-arrow-lg"></i>
						</div>
					</a>
				</div>
			</section>
			<!-- TOP CATEGORIES EOF   -->
			<!-- BEGIN INFO BLOCKS -->
			<div class="info-blocks">
				<div class="info-blocks__item js-img" data-src="https://via.placeholder.com/960x900">
					<div class="wrapper">
						<div class="info-blocks__item-img">
							<img data-src="https://via.placeholder.com/960x900" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
						</div>
						<div class="info-blocks__item-text">
							<span class="saint-text">Check This Out</span>
							<h2>new collection for delicate skin</h2>
							<span class="info-blocks__item-descr">Nourish your skin with toxin-free cosmetic products.
								With the offers that you can’t refuse.</span>
							<p>Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit adipisicing
								ea aliqua alluptate sit do do.Non aliqua reprehenderit reprehenderit culpa laboris nulla
								minim anim velit adipisicing ea aliqua alluptate sit do do.Non aliqua reprehenderit
								reprehenderit culpa laboris nulla minim.</p>
							<a href="#" class="btn">Shop now</a>
						</div>
					</div>

				</div>
				<div class="info-blocks__item info-blocks__item-reverse js-img" data-src="https://via.placeholder.com/960x900">
					<div class="wrapper">
						<div class="info-blocks__item-img">
							<img data-src="https://via.placeholder.com/960x900" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
							<iframe allowfullscreen></iframe>
							<div class="info-blocks__item-img-overlay">
								<span>Promotion video</span>
								<div class="info-blocks__item-img-play">
									<img data-src="img/play-btn.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
										class="js-img" alt="">
								</div>
							</div>
						</div>
						<div class="info-blocks__item-text">
							<span class="saint-text">About Us</span>
							<h2>Who we are</h2>
							<span class="info-blocks__item-descr">Nourish your skin with toxin-free cosmetic products.
								With the offers that you can’t refuse.</span>
							<p>Non aliqua reprehenderit reprehenderit culpa laboris nulla minim anim velit adipisicing
								ea aliqua alluptate sit do do.Non aliqua reprehenderit reprehenderit culpa laboris nulla
								minim anim velit adipisicing ea aliqua alluptate sit do do.Non aliqua reprehenderit
								reprehenderit culpa laboris nulla minim.</p>
							<a href="#" class="info-blocks__item-link">
								<i class="icon-video"></i>
								Watch video about us
								<i class="icon-arrow-lg"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- INFO BLOCKS EOF   -->
			<!-- BEGIN NEW ARRIVALS -->
			<section class="arrivals">
				<div class="trending-top">
					<span class="saint-text">Wigs</span>
					<h2>New arrivals</h2>
					<p>Nourish your skin with toxin-free cosmetic products. With the offers that you can’t refuse.</p>
				</div>
				<div class="products-items js-products-items">
					<a href="#" class="products-item">
						<div class="products-item__type">
							<span class="products-item__sale">sale</span>
							<span class="products-item__new">new</span>
						</div>
						<div class="products-item__img">
							<img data-src="https://via.placeholder.com/400x570" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
							<div class="products-item__hover">
								<i class="icon-search"></i>
								<div class="products-item__hover-options">
									<i class="icon-heart"></i>
									<i class="icon-cart"></i>
								</div>
							</div>
						</div>
						<div class="products-item__info">
							<span class="products-item__name">Detox body Cream</span>
							<span class="products-item__cost"><span>$249.95</span> $200.95</span>
						</div>
					</a>
					<a href="#" class="products-item">
						<div class="products-item__type">
							<span class="products-item__new">new</span>
						</div>
						<div class="products-item__img">
							<img data-src="https://via.placeholder.com/400x570" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
							<div class="products-item__hover">
								<i class="icon-search"></i>
								<div class="products-item__hover-options">
									<i class="icon-heart"></i>
									<i class="icon-cart"></i>
								</div>
							</div>
						</div>
						<div class="products-item__info">
							<span class="products-item__name">Detox body Cream</span>
							<span class="products-item__cost">$200.95</span>
						</div>
					</a>
					<a href="#" class="products-item">
						<div class="products-item__type">
							<span class="products-item__new">new</span>
						</div>
						<div class="products-item__img">
							<img data-src="https://via.placeholder.com/400x570" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
							<div class="products-item__hover">
								<i class="icon-search"></i>
								<div class="products-item__hover-options">
									<i class="icon-heart"></i>
									<i class="icon-cart"></i>
								</div>
							</div>
						</div>
						<div class="products-item__info">
							<span class="products-item__name">Detox body Cream</span>
							<span class="products-item__cost">$200.95</span>
						</div>
					</a>
					<a href="#" class="products-item">
						<div class="products-item__type">
							<span class="products-item__sale">sale</span>
							<span class="products-item__new">new</span>
						</div>
						<div class="products-item__img">
							<img data-src="https://via.placeholder.com/400x570" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
							<div class="products-item__hover">
								<i class="icon-search"></i>
								<div class="products-item__hover-options">
									<i class="icon-heart"></i>
									<i class="icon-cart"></i>
								</div>
							</div>
						</div>
						<div class="products-item__info">
							<span class="products-item__name">Detox body Cream</span>
							<span class="products-item__cost"><span>$249.95</span> $200.95</span>
						</div>
					</a>
					<a href="#" class="products-item">
						<div class="products-item__type">
							<span class="products-item__sale">sale</span>
						</div>
						<div class="products-item__img">
							<img data-src="https://via.placeholder.com/400x570" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
							<div class="products-item__hover">
								<i class="icon-search"></i>
								<div class="products-item__hover-options">
									<i class="icon-heart"></i>
									<i class="icon-cart"></i>
								</div>
							</div>
						</div>
						<div class="products-item__info">
							<span class="products-item__name">Detox body Cream</span>
							<span class="products-item__cost"><span>$249.95</span> $200.95</span>
						</div>
					</a>
				</div>
			</section>
			<!-- NEW ARRIVALS EOF   -->
			<!-- BEGIN LATEST NEWS -->
			<section class="latest-news">
				<div class="wrapper">
					<div class="trending-top">
						<span class="saint-text">Our blog</span>
						<h2>The latest news at BeShop</h2>
						<p>Nourish your skin with toxin-free cosmetic products. With the offers that you can’t refuse.
						</p>
					</div>
					<div class="blog-items">
						<div class="blog-item">
							<a href="#" class="blog-item__img">
								<img data-src="https://via.placeholder.com/555x300" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
									class="js-img" alt="">
								<span class="blog-item__date">
									<span>Aug</span> 10
								</span>
							</a>
							<a href="#" class="blog-item__title">Best multi-step skin care treatment</a>
							<p>Nourish your skin with toxin-free cosmetic products. With the offers that yo skin with
								toxin-free cosmetic products that you can’t refuse.</p>
							<a href="#" class="blog-item__link">Read more <i class="icon-arrow-md"></i></a>
						</div>
						<div class="blog-item">
							<a href="#" class="blog-item__img">
								<img data-src="https://via.placeholder.com/555x300" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
									class="js-img" alt="">
								<span class="blog-item__date">
									<span>Aug</span> 08
								</span>
							</a>
							<a href="#" class="blog-item__title">Best multi-step skin care treatment</a>
							<p>Nourish your skin with toxin-free cosmetic products. With the offers that yo skin with
								toxin-free cosmetic products that you can’t refuse.</p>
							<a href="#" class="blog-item__link">Read more <i class="icon-arrow-md"></i></a>
						</div>
					</div>
					<div class="latest-news__btn">
						<a href="#" class="btn">Read blog</a>
					</div>
				</div>
			</section>
			<!-- LATEST NEWS EOF   -->
			<!-- BEGIN SUBSCRIBE -->
			<div class="subscribe">
				<div class="wrapper">
					<div class="subscribe-form">
						<div class="subscribe-form__img">
							<img data-src="https://via.placeholder.com/460x302" src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
								class="js-img" alt="">
						</div>
						<form>
							<h3>Stay in touch</h3>
							<p>Nourish your skin with toxin-free cosmetic roducts.</p>
							<div class="box-field__row">
								<div class="box-field">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<button type="submit" class="btn">subscribe</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- SUBSCRIBE EOF   -->
			<!-- BEGIN INSTA PHOTOS -->
			<div class="insta-photos">
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
				<a href="#" class="insta-photo">
					<img data-src="https://via.placeholder.com/320" src="data:image/gif;base64,R0lGODlhAQABAAAAACw=" class="js-img"
						alt="">
					<div class="insta-photo__hover">
						<i class="icon-insta"></i>
					</div>
				</a>
			</div>
			<!-- INSTA PHOTOS EOF   -->

		</main>

		<!-- CONTENT EOF   -->
