
		<!-- BEGIN HEADER -->

		<header class="header">
			<div class="header-top">
				<span>60% OFF ON ALL PRODUCTS ENTER CODE: beshop2020</span>
				<i class="header-top-close js-header-top-close icon-close"></i>
			</div>
			<div class="header-content">
				<div class="header-logo">
					<img src="/img/header-logo.svg" alt="">
				</div>
				<div class="header-box">
					<ul class="header-nav">
						<li><a href="/" class="active">Home</a></li>
                        <li><a href="/about">About us</a></li>
					<!-- 
						<li><a href="#">pages</a>
							<ul>
								
								<li><a href="/faq">FAQ</a></li>
								<li><a href="/profile">My profile</a></li>
								<li><a href="/login">Login</a></li>
                                <li><a href="/registration">Registration</a></li>
                                <li><a href="/product">Product</a></li>
                                <li><a href="/post">Post</a></li>
                                <li><a href="/checkout1">Checkout1</a></li>
                                <li><a href="/checkout2">Checkout2</a></li>
								<li><a href="/checkout3">Checkout3</a></li>
								<li><a href="/404">404</a></li>
								<li><a href="/cart">Cart</a></li>
								<li><a href="/wishlist">Wishlist</a></li>
							</ul>
						</li>
					-->
						<li><a href="/shop">shop</a></li>
						<li><a href="/categories">Categories</a></li>
					<!-- 
						<li><a href="/blog">blog</a></li>
					-->
						<li><a href="/contacts">contact</a></li>
					</ul>
					<ul class="header-options">
						<li><a href="#"><i class="icon-search"></i></a></li>
						<li><a href="#"><i class="icon-user"></i></a></li>
						<li><a href="/wishlist"><i class="icon-heart"></i></a></li>
						<li><a href="/cart"><i class="icon-cart"></i><span>0</span></a></li>
					</ul>
				</div>

				<div class="btn-menu js-btn-menu"><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span></div>
			</div>
		</header>

		<!-- HEADER EOF   -->